.version.csc322 /* version checker */
{
	color: #00001C;
	background-color: #C04C05;
}

.html
{
	background-color: #2F3E72;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 1557px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 18px;
	padding-bottom: 422px;
	width: 0.01px;
}

#pmenuu3475
{
	width: 0.01px;
}

#menuu3475
{
	z-index: 265;
	width: 648px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3497
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3498
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u3498:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3500-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u3498:hover #u3500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3504
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 130px;
}

#u3505
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u3505:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3508-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u3498.MuseMenuActive #u3500-4,#u3505:hover #u3508-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3476
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u3479
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u3479:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3481-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u3505.MuseMenuActive #u3508-4,#u3479:hover #u3481-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3483
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u3486
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u3488-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u3479.MuseMenuActive #u3481-4,#u3486:hover #u3488-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3490
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u3491
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u3486:hover,#u3491:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3498.MuseMenuActive,#u3505.MuseMenuActive,#u3479.MuseMenuActive,#u3491.MuseMenuActive
{
	background-color: #ECB93F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3492-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u3486.MuseMenuActive #u3488-4,#u3491:hover #u3492-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3491.MuseMenuActive #u3492-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3511
{
	z-index: 262;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 664px;
	background: #5165AD url("../images/facebook.png") no-repeat center center;
}

#u3567
{
	z-index: 264;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 769px;
	background: #3FB6EA url("../images/twitter.png") no-repeat center center;
}

#u3528
{
	z-index: 263;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 874px;
	background: #EDBA2F url("../images/rss.png") no-repeat center center;
}

#u3511:hover,#u3567:hover,#u3528:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 105px;
	height: 95px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu3512
{
	z-index: 2;
	width: 0.01px;
	height: 380px;
	padding-bottom: 20px;
	margin-top: 19px;
	position: relative;
}

#u3521
{
	position: absolute;
	width: 648px;
	background-color: transparent;
}

#u3521popup
{
	z-index: 3;
}

#u3522
{
	z-index: 4;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/shutterstock_148957235.jpg") no-repeat center center;
	background-size: cover;
}

#u3523
{
	z-index: 5;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/chip.jpg") no-repeat center center;
	background-size: cover;
}

#u3513
{
	z-index: 6;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	left: 598px;
}

#u3515
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u3515:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u3516
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 20px;
}

#u3516:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u3515.PamphletThumbSelected,#u3516.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #EE4171;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#pu3569
{
	width: 0.01px;
	margin-left: 664px;
	margin-top: -401px;
}

#u3569
{
	z-index: 9;
	width: 315px;
	height: 184px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: transparent url("../images/pic-18.jpg") no-repeat center bottom;
	background-size: cover;
}

#u3568-3
{
	z-index: 10;
	width: 315px;
	min-height: 216px;
	border-color: #000000;
	background-color: #EDBA2F;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 1px;
}

#u3473
{
	z-index: 13;
	width: 130px;
	border-width: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 87px;
}

#u3473 .clip_frame
{
	-webkit-border-radius: 93px 93px 93px 93px;
}

#u3473_img
{
	padding: 24px 19px 39px 16px;
}

#u3527-6
{
	z-index: 15;
	width: 315px;
	min-height: 37px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
}

#u3527-2
{
	font-size: 30px;
	line-height: 36px;
}

#u3527-4
{
	font-size: 20px;
	line-height: 24px;
}

#csc322
{
	margin-top: 51px;
	position: relative;
}

#accordionu3530
{
	z-index: 21;
	width: 979px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	left: -1px;
	margin-top: 4px;
	position: relative;
}

#u3539
{
	z-index: 22;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3542-4
{
	z-index: 23;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3542-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3542-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3540
{
	z-index: 27;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 9px;
	position: relative;
}

#u3541-4
{
	z-index: 28;
	width: 938px;
	min-height: 92px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: left;
	line-height: 17px;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 18px;
}

#u3563
{
	z-index: 32;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3566-4
{
	z-index: 33;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3566-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3566-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3564
{
	z-index: 37;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 5px;
	position: relative;
}

#u3565-13
{
	z-index: 38;
	width: 935px;
	min-height: 91px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: left;
	line-height: 17px;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u3565-11
{
	counter-reset: list0;
}

#u3565-11 > li:before
{
	counter-increment: list0;
	content:  counter(list0, decimal) ')';
}

#u3565-11 .list1
{
	counter-reset: list1;
}

#u3565-11 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u3565-11 .list2
{
	counter-reset: list2;
}

#u3565-11 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u3565-11 .list3
{
	counter-reset: list3;
}

#u3565-11 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u3565-11 .list4
{
	counter-reset: list4;
}

#u3565-11 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u3565-11 .list5
{
	counter-reset: list5;
}

#u3565-11 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u3565-11 .list6
{
	counter-reset: list6;
}

#u3565-11 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u3565-11 .list7
{
	counter-reset: list7;
}

#u3565-11 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u3565-11 .list8
{
	counter-reset: list8;
}

#u3565-11 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

#u3531
{
	z-index: 51;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3534-4
{
	z-index: 52;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3534-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3534-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3532
{
	z-index: 56;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 4px;
	position: relative;
}

#u3533-34
{
	z-index: 57;
	width: 935px;
	min-height: 177px;
	background-color: transparent;
	line-height: 21px;
	color: #000000;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 21px;
}

#u3559
{
	z-index: 91;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3560-4
{
	z-index: 92;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3560-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3560-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3561
{
	z-index: 96;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	position: relative;
}

#u3562-76
{
	z-index: 97;
	width: 937px;
	min-height: 475px;
	background-color: transparent;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 27px;
}

#u3562-4,#u3562-8,#u3562-12,#u3562-16,#u3562-20,#u3562-24,#u3562-32,#u3562-35,#u3562-38,#u3562-42,#u3562-46,#u3562-50,#u3562-54,#u3562-60,#u3562-64,#u3562-68,#u3562-72
{
	font-size: 14px;
	line-height: 21px;
	color: #000000;
}

#u3562-26,#u3562-28,#u3562-56,#u3562-74
{
	font-size: 18px;
	line-height: 27px;
	color: #F43A6D;
}

#u3551
{
	z-index: 173;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3554-4
{
	z-index: 174;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3554-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3554-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3552
{
	z-index: 178;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 6px;
	position: relative;
}

#u3553-13
{
	z-index: 179;
	width: 942px;
	min-height: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 17px;
}

#u3553-4,#u3553-9
{
	font-size: 18px;
	text-align: left;
	line-height: 27px;
	color: #F43A6D;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u3553-2,#u3553-6,#u3553-7,#u3553-11
{
	font-size: 14px;
	text-align: left;
	line-height: 21px;
	color: #000000;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u3543
{
	z-index: 192;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3546-4
{
	z-index: 193;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3546-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3546-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3544
{
	z-index: 197;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 11px;
	position: relative;
}

#u3545-8
{
	z-index: 198;
	width: 945px;
	min-height: 69px;
	background-color: transparent;
	line-height: 21px;
	color: #000000;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 10px;
}

#u3547
{
	z-index: 206;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3548-4
{
	z-index: 207;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3548-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3548-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3549
{
	z-index: 211;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	position: relative;
}

#u3550-19
{
	z-index: 212;
	width: 938px;
	min-height: 177px;
	background-color: transparent;
	line-height: 21px;
	color: #000000;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 10px;
}

#u3555
{
	z-index: 231;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3556-4
{
	z-index: 232;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3556-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3556-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3557
{
	z-index: 236;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 7px;
	position: relative;
}

#u3558-10
{
	z-index: 237;
	width: 942px;
	min-height: 74px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 14px;
}

#u3558-4
{
	font-size: 18px;
	line-height: 21px;
	color: #F43A6D;
}

#u3558-2,#u3558-6,#u3558-8
{
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

#u3535
{
	z-index: 247;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3538-4
{
	z-index: 248;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3538-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3538-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3542-4.AccordionPanelTabOpen,#u3566-4.AccordionPanelTabOpen,#u3534-4.AccordionPanelTabOpen,#u3560-4.AccordionPanelTabOpen,#u3554-4.AccordionPanelTabOpen,#u3546-4.AccordionPanelTabOpen,#u3548-4.AccordionPanelTabOpen,#u3556-4.AccordionPanelTabOpen,#u3538-4.AccordionPanelTabOpen
{
	background-color: #F43A6D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3542-4.AccordionPanelTabOpen p,#u3566-4.AccordionPanelTabOpen p,#u3534-4.AccordionPanelTabOpen p,#u3560-4.AccordionPanelTabOpen p,#u3554-4.AccordionPanelTabOpen p,#u3546-4.AccordionPanelTabOpen p,#u3548-4.AccordionPanelTabOpen p,#u3556-4.AccordionPanelTabOpen p,#u3538-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3536
{
	z-index: 252;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 9px;
	position: relative;
}

#u3537-9
{
	z-index: 253;
	width: 942px;
	min-height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 21px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

#u3537-7 > li:before
{
	content: '•';
}

#u3537-2,#u3537-4,#u3537-6
{
	font-size: 14px;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

