.version.csc375 /* version checker */
{
	color: #0000F6;
	background-color: #960F98;
}

.html
{
	background-color: #2F3E72;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 1557px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 18px;
	padding-bottom: 189px;
	width: 0.01px;
}

#pmenuu4361
{
	width: 0.01px;
}

#menuu4361
{
	z-index: 455;
	width: 648px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4369
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4372
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u4372:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u4375-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4372:hover #u4375-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u4376
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 130px;
}

#u4379
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u4379:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u4382-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4372.MuseMenuActive #u4375-4,#u4379:hover #u4382-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u4390
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u4393
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u4393:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u4396-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4379.MuseMenuActive #u4382-4,#u4393:hover #u4396-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u4362
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u4363
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u4365-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4393.MuseMenuActive #u4396-4,#u4363:hover #u4365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u4383
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u4384
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u4363:hover,#u4384:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u4372.MuseMenuActive,#u4379.MuseMenuActive,#u4393.MuseMenuActive,#u4384.MuseMenuActive
{
	background-color: #ECB93F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u4385-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4363.MuseMenuActive #u4365-4,#u4384:hover #u4385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u4384.MuseMenuActive #u4385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u4445
{
	z-index: 452;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 664px;
	background: #5165AD url("../images/facebook.png") no-repeat center center;
}

#u4441
{
	z-index: 454;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 769px;
	background: #3FB6EA url("../images/twitter.png") no-repeat center center;
}

#u4360
{
	z-index: 453;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 874px;
	background: #EDBA2F url("../images/rss.png") no-repeat center center;
}

#u4445:hover,#u4441:hover,#u4360:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 105px;
	height: 95px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu4345
{
	z-index: 2;
	width: 0.01px;
	height: 380px;
	padding-bottom: 20px;
	margin-top: 19px;
	position: relative;
}

#u4346
{
	position: absolute;
	width: 648px;
	background-color: transparent;
}

#u4346popup
{
	z-index: 3;
}

#u4349
{
	z-index: 4;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/what-is-aws-and-how-did-it-bring-down-instagram--6b1ffffa8a-u4349-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u4348
{
	z-index: 5;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/msdatacenter12513-u4348-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u4347
{
	z-index: 6;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/machinelearninganddataminingwordle-u4347-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u4354
{
	z-index: 7;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	left: 598px;
}

#u4356
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u4356:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u4357
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 20px;
}

#u4357:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u4355
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 40px;
}

#u4355:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u4356.PamphletThumbSelected,#u4357.PamphletThumbSelected,#u4355.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #EE4171;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#pu4398
{
	width: 0.01px;
	margin-left: 664px;
	margin-top: -401px;
}

#u4398
{
	z-index: 11;
	width: 315px;
	height: 184px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: transparent url("../images/pic-18.jpg") no-repeat center bottom;
	background-size: cover;
}

#u4440-3
{
	z-index: 12;
	width: 315px;
	min-height: 216px;
	border-color: #000000;
	background-color: #EDBA2F;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 1px;
}

#u4442
{
	z-index: 15;
	width: 130px;
	border-width: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 87px;
}

#u4442 .clip_frame
{
	-webkit-border-radius: 93px 93px 93px 93px;
}

#u4442_img
{
	padding: 24px 19px 39px 16px;
}

#u4397-6
{
	z-index: 17;
	width: 315px;
	min-height: 37px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
}

#u4397-2
{
	font-size: 30px;
	line-height: 36px;
}

#u4397-4
{
	font-size: 20px;
	line-height: 24px;
}

#csc375
{
	margin-top: 51px;
	position: relative;
}

#accordionu4399
{
	z-index: 23;
	width: 979px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	left: -1px;
	margin-top: 4px;
	position: relative;
}

#u4400
{
	z-index: 24;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4403-4
{
	z-index: 25;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4403-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4403-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4401
{
	z-index: 29;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 12px;
	position: relative;
}

#u4402-4
{
	z-index: 30;
	width: 938px;
	min-height: 74px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 17px;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 18px;
}

#u4416
{
	z-index: 34;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4417-4
{
	z-index: 35;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4417-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4417-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4418
{
	z-index: 39;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 5px;
	position: relative;
}

#u4419-15
{
	z-index: 40;
	width: 935px;
	min-height: 91px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 17px;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u4428
{
	z-index: 55;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4431-4
{
	z-index: 56;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4431-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4431-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4429
{
	z-index: 60;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 16px;
	position: relative;
}

#u4430-13
{
	z-index: 61;
	width: 942px;
	min-height: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 18px;
}

#u4424
{
	z-index: 74;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4425-4
{
	z-index: 75;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4425-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4425-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4426
{
	z-index: 79;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 1px;
	position: relative;
}

#u4427-112
{
	z-index: 80;
	width: 935px;
	min-height: 223px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 21px;
}

#u4436
{
	z-index: 192;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4437-4
{
	z-index: 193;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4437-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4437-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4438
{
	z-index: 197;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	position: relative;
}

#u4439-19
{
	z-index: 198;
	width: 937px;
	min-height: 201px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 27px;
}

#u4451
{
	z-index: 217;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4452-4
{
	z-index: 218;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4452-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4452-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4453
{
	z-index: 222;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 18px;
	position: relative;
}

#u4456-103
{
	z-index: 223;
	width: 942px;
	min-height: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 17px;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 18px;
}

#u4419-13,#u4456-101
{
	counter-reset: list0;
}

#u4419-13 > li:before,#u4456-101 > li:before
{
	counter-increment: list0;
	content:  counter(list0, decimal) ')';
}

#u4419-13 .list1,#u4456-101 .list1
{
	counter-reset: list1;
}

#u4419-13 .list1 > li:before,#u4456-101 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u4419-13 .list2,#u4456-101 .list2
{
	counter-reset: list2;
}

#u4419-13 .list2 > li:before,#u4456-101 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u4419-13 .list3,#u4456-101 .list3
{
	counter-reset: list3;
}

#u4419-13 .list3 > li:before,#u4456-101 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u4419-13 .list4,#u4456-101 .list4
{
	counter-reset: list4;
}

#u4419-13 .list4 > li:before,#u4456-101 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u4419-13 .list5,#u4456-101 .list5
{
	counter-reset: list5;
}

#u4419-13 .list5 > li:before,#u4456-101 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u4419-13 .list6,#u4456-101 .list6
{
	counter-reset: list6;
}

#u4419-13 .list6 > li:before,#u4456-101 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u4419-13 .list7,#u4456-101 .list7
{
	counter-reset: list7;
}

#u4419-13 .list7 > li:before,#u4456-101 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u4419-13 .list8,#u4456-101 .list8
{
	counter-reset: list8;
}

#u4419-13 .list8 > li:before,#u4456-101 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

#u4456-7,#u4456-9,#u4456-11,#u4456-13,#u4456-18,#u4456-20,#u4456-22,#u4456-24,#u4456-26,#u4456-28,#u4456-30,#u4456-35,#u4456-37,#u4456-39,#u4456-41,#u4456-43,#u4456-45,#u4456-47,#u4456-49,#u4456-57,#u4456-55,#u4456-64,#u4456-60,#u4456-62,#u4456-77,#u4456-67,#u4456-69,#u4456-71,#u4456-73,#u4456-75,#u4456-88,#u4456-80,#u4456-82,#u4456-84,#u4456-86,#u4456-93,#u4456-91,#u4456-98,#u4456-96
{
	font-size: 14px;
	text-align: left;
	line-height: 17px;
	color: #000000;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u4404
{
	z-index: 326;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4407-4
{
	z-index: 327;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4407-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4407-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4405
{
	z-index: 331;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	position: relative;
}

#u4406-24
{
	z-index: 332;
	width: 942px;
	min-height: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 17px;
}

#u4412
{
	z-index: 356;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4413-4
{
	z-index: 357;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4413-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4413-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4414
{
	z-index: 361;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 11px;
	position: relative;
}

#u4415-11
{
	z-index: 362;
	width: 945px;
	min-height: 69px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 10px;
}

#u4420
{
	z-index: 373;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4423-4
{
	z-index: 374;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4423-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4423-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4421
{
	z-index: 378;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 16px;
	position: relative;
}

#u4422-32
{
	z-index: 379;
	width: 938px;
	min-height: 223px;
	background-color: transparent;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 10px;
}

#u4422-10
{
	line-height: 21px;
	color: #000000;
}

#u4406-3,#u4406-5,#u4406-14,#u4406-19,#u4422-2,#u4422-12
{
	font-size: 18px;
	line-height: 27px;
	color: #F43A6D;
}

#u4422-30 > li:before
{
	content: '•';
}

#u4422-30 > #u4422-17:before,#u4422-13
{
	color: #000000;
}

#u4406-2,#u4406-8,#u4406-11,#u4406-12,#u4406-16,#u4406-17,#u4406-21,#u4406-22,#u4422-5,#u4422-8,#u4422-17,#u4422-20,#u4422-23,#u4422-26,#u4422-29
{
	font-size: 14px;
	line-height: 21px;
	color: #000000;
}

#u4432
{
	z-index: 411;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4433-4
{
	z-index: 412;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4433-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4433-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4434
{
	z-index: 416;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 7px;
	position: relative;
}

#u4435-10
{
	z-index: 417;
	width: 942px;
	min-height: 74px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 14px;
}

#u4430-2,#u4430-7,#u4435-4
{
	font-size: 18px;
	line-height: 21px;
	color: #F43A6D;
}

#u4430-4,#u4430-5,#u4430-9,#u4430-11,#u4435-2,#u4435-6,#u4435-8
{
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

#u4408
{
	z-index: 427;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4411-4
{
	z-index: 428;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4411-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4411-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4403-4.AccordionPanelTabOpen,#u4417-4.AccordionPanelTabOpen,#u4431-4.AccordionPanelTabOpen,#u4425-4.AccordionPanelTabOpen,#u4437-4.AccordionPanelTabOpen,#u4452-4.AccordionPanelTabOpen,#u4407-4.AccordionPanelTabOpen,#u4413-4.AccordionPanelTabOpen,#u4423-4.AccordionPanelTabOpen,#u4433-4.AccordionPanelTabOpen,#u4411-4.AccordionPanelTabOpen
{
	background-color: #F43A6D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4403-4.AccordionPanelTabOpen p,#u4417-4.AccordionPanelTabOpen p,#u4431-4.AccordionPanelTabOpen p,#u4425-4.AccordionPanelTabOpen p,#u4437-4.AccordionPanelTabOpen p,#u4452-4.AccordionPanelTabOpen p,#u4407-4.AccordionPanelTabOpen p,#u4413-4.AccordionPanelTabOpen p,#u4423-4.AccordionPanelTabOpen p,#u4433-4.AccordionPanelTabOpen p,#u4411-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4409
{
	z-index: 432;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 10px;
	position: relative;
}

#u4410-19
{
	z-index: 433;
	width: 942px;
	min-height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 17px;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

