.version.csc447 /* version checker */
{
	color: #0000E6;
	background-color: #3D1DCA;
}

.html
{
	background-color: #2F3E72;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 1557px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 18px;
	padding-bottom: 422px;
	width: 0.01px;
}

#pmenuu3270
{
	width: 0.01px;
}

#menuu3270
{
	z-index: 334;
	width: 648px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3292
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3293
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u3293:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3294-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u3293:hover #u3294-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3285
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 130px;
}

#u3288
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u3288:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3291-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u3293.MuseMenuActive #u3294-4,#u3288:hover #u3291-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3299
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u3300
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u3300:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3302-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u3288.MuseMenuActive #u3291-4,#u3300:hover #u3302-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3271
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u3272
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u3275-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u3300.MuseMenuActive #u3302-4,#u3272:hover #u3275-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3278
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u3281
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u3272:hover,#u3281:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3293.MuseMenuActive,#u3288.MuseMenuActive,#u3300.MuseMenuActive,#u3281.MuseMenuActive
{
	background-color: #ECB93F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3284-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u3272.MuseMenuActive #u3275-4,#u3281:hover #u3284-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3281.MuseMenuActive #u3284-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3267
{
	z-index: 331;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 664px;
	background: #5165AD url("../images/facebook.png") no-repeat center center;
}

#u3269
{
	z-index: 333;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 769px;
	background: #3FB6EA url("../images/twitter.png") no-repeat center center;
}

#u3268
{
	z-index: 332;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 874px;
	background: #EDBA2F url("../images/rss.png") no-repeat center center;
}

#u3267:hover,#u3269:hover,#u3268:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 105px;
	height: 95px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu2686
{
	z-index: 2;
	width: 0.01px;
	height: 380px;
	padding-bottom: 20px;
	margin-top: 19px;
	position: relative;
}

#u2691
{
	position: absolute;
	width: 648px;
	background-color: transparent;
}

#u2691popup
{
	z-index: 3;
}

#u2694
{
	z-index: 4;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/tianhe%202%20corridor-u2694-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2692
{
	z-index: 5;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/riboions-u2692-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2693
{
	z-index: 6;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/0_0_0_0_70__news_titan%20x%20money.jpg") no-repeat center center;
	background-size: cover;
}

#u2697
{
	z-index: 7;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	left: 598px;
}

#u2699
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u2699:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u2698
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 20px;
}

#u2698:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u2700
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 40px;
}

#u2700:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u2699.PamphletThumbSelected,#u2698.PamphletThumbSelected,#u2700.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #EE4171;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#pu2704
{
	width: 0.01px;
	margin-left: 664px;
	margin-top: -401px;
}

#u2704
{
	z-index: 11;
	width: 315px;
	height: 184px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: transparent url("../images/pic-18.jpg") no-repeat center bottom;
	background-size: cover;
}

#u2685-3
{
	z-index: 12;
	width: 315px;
	min-height: 216px;
	border-color: #000000;
	background-color: #EDBA2F;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 1px;
}

#u2637
{
	z-index: 15;
	width: 130px;
	border-width: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 87px;
}

#u2637 .clip_frame
{
	-webkit-border-radius: 93px 93px 93px 93px;
}

#u2637_img
{
	padding: 24px 19px 39px 16px;
}

#u2760-6
{
	z-index: 17;
	width: 315px;
	min-height: 37px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
}

#u2760-2
{
	font-size: 30px;
	line-height: 36px;
}

#u2760-4
{
	font-size: 20px;
	line-height: 24px;
}

#csc447
{
	margin-top: 43px;
	position: relative;
}

#accordionu3217
{
	z-index: 23;
	width: 979px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	left: -1px;
	margin-top: 12px;
	position: relative;
}

#u3222
{
	z-index: 24;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3225-4
{
	z-index: 25;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3225-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3225-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3223
{
	z-index: 29;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 9px;
	position: relative;
}

#u3224-4
{
	z-index: 30;
	width: 938px;
	min-height: 92px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: left;
	line-height: 17px;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 18px;
}

#u3230
{
	z-index: 34;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3231-4
{
	z-index: 35;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3231-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3231-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3232
{
	z-index: 39;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 5px;
	position: relative;
}

#u3233-13
{
	z-index: 40;
	width: 935px;
	min-height: 91px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: left;
	line-height: 17px;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u3233-11
{
	counter-reset: list0;
}

#u3233-11 > li:before
{
	counter-increment: list0;
	content:  counter(list0, decimal) '.';
}

#u3233-11 .list1
{
	counter-reset: list1;
}

#u3233-11 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u3233-11 .list2
{
	counter-reset: list2;
}

#u3233-11 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u3233-11 .list3
{
	counter-reset: list3;
}

#u3233-11 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u3233-11 .list4
{
	counter-reset: list4;
}

#u3233-11 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u3233-11 .list5
{
	counter-reset: list5;
}

#u3233-11 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u3233-11 .list6
{
	counter-reset: list6;
}

#u3233-11 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u3233-11 .list7
{
	counter-reset: list7;
}

#u3233-11 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u3233-11 .list8
{
	counter-reset: list8;
}

#u3233-11 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

#u3238
{
	z-index: 53;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3239-4
{
	z-index: 54;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3239-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3239-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3240
{
	z-index: 58;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 8px;
	position: relative;
}

#u3241-102
{
	z-index: 59;
	width: 935px;
	min-height: 223px;
	background-color: transparent;
	text-align: left;
	line-height: 21px;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 21px;
}

#u3241-4
{
	color: #FFFFFF;
}

#u3241-3,#u3241-8,#u3241-12,#u3241-16,#u3241-20,#u3241-24,#u3241-28,#u3241-32,#u3241-36,#u3241-40,#u3241-44,#u3241-48,#u3241-52,#u3241-56,#u3241-60,#u3241-64,#u3241-68,#u3241-72,#u3241-76,#u3241-80,#u3241-84,#u3241-88,#u3241-92,#u3241-96,#u3241-100
{
	color: #000000;
}

#u3246
{
	z-index: 161;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3249-4
{
	z-index: 162;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3249-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3249-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3247
{
	z-index: 166;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	position: relative;
}

#u3248-14
{
	z-index: 167;
	width: 937px;
	min-height: 139px;
	background-color: transparent;
	line-height: 21px;
	color: #000000;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 27px;
}

#u3218
{
	z-index: 181;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3219-4
{
	z-index: 182;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3219-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3219-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3220
{
	z-index: 186;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 15px;
	position: relative;
}

#u3221-17
{
	z-index: 187;
	width: 942px;
	min-height: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 17px;
}

#u3221-10
{
	font-size: 20px;
	text-align: left;
	color: #000000;
	font-family: abel, sans-serif;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3221-8
{
	font-size: 14px;
	line-height: 21px;
}

#u3221-5,#u3221-13
{
	font-size: 18px;
	text-align: left;
	line-height: 27px;
	color: #F43A6D;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u3221-2,#u3221-3,#u3221-7,#u3221-11,#u3221-15
{
	font-size: 14px;
	text-align: left;
	line-height: 21px;
	color: #000000;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u3226
{
	z-index: 204;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3229-4
{
	z-index: 205;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3229-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3229-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3227
{
	z-index: 209;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 11px;
	position: relative;
}

#u3228-8
{
	z-index: 210;
	width: 945px;
	min-height: 69px;
	background-color: transparent;
	line-height: 21px;
	color: #000000;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 10px;
}

#u3234
{
	z-index: 218;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3235-4
{
	z-index: 219;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3235-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3235-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3236
{
	z-index: 223;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 9px;
	position: relative;
}

#u3237-59
{
	z-index: 224;
	width: 938px;
	min-height: 223px;
	background-color: transparent;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 10px;
}

#u3237-2,#u3237-36,#u3237-50
{
	font-size: 18px;
	line-height: 27px;
	color: #F43A6D;
}

#u3237-33 > li:before,#u3237-47 > li:before,#u3237-57 > li:before
{
	content: '•';
}

#u3237-4,#u3237-6,#u3237-8,#u3237-10,#u3237-12,#u3237-14,#u3237-16,#u3237-18,#u3237-20,#u3237-22,#u3237-24,#u3237-26,#u3237-28,#u3237-30,#u3237-32,#u3237-34,#u3237-38,#u3237-40,#u3237-42,#u3237-44,#u3237-46,#u3237-48,#u3237-52,#u3237-54,#u3237-56
{
	font-size: 14px;
	line-height: 21px;
	color: #000000;
}

#u3242
{
	z-index: 283;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3243-4
{
	z-index: 284;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3243-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3243-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3244
{
	z-index: 288;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 7px;
	position: relative;
}

#u3245-10
{
	z-index: 289;
	width: 942px;
	min-height: 74px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 14px;
}

#u3245-4
{
	font-size: 18px;
	line-height: 21px;
	color: #F43A6D;
}

#u3245-2,#u3245-6,#u3245-8
{
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

#u3256
{
	z-index: 299;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3259-4
{
	z-index: 300;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3259-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3259-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3225-4.AccordionPanelTabOpen,#u3231-4.AccordionPanelTabOpen,#u3239-4.AccordionPanelTabOpen,#u3249-4.AccordionPanelTabOpen,#u3219-4.AccordionPanelTabOpen,#u3229-4.AccordionPanelTabOpen,#u3235-4.AccordionPanelTabOpen,#u3243-4.AccordionPanelTabOpen,#u3259-4.AccordionPanelTabOpen
{
	background-color: #F43A6D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3225-4.AccordionPanelTabOpen p,#u3231-4.AccordionPanelTabOpen p,#u3239-4.AccordionPanelTabOpen p,#u3249-4.AccordionPanelTabOpen p,#u3219-4.AccordionPanelTabOpen p,#u3229-4.AccordionPanelTabOpen p,#u3235-4.AccordionPanelTabOpen p,#u3243-4.AccordionPanelTabOpen p,#u3259-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3257
{
	z-index: 304;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 15px;
	position: relative;
}

#u3261-25
{
	z-index: 305;
	width: 942px;
	min-height: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: left;
	line-height: 17px;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

