.version.csc611 /* version checker */
{
	color: #0000E9;
	background-color: #35FAE6;
}

.html
{
	background-color: #2F3E72;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 1557px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 18px;
	padding-bottom: 267px;
	width: 0.01px;
}

#pmenuu4132
{
	width: 0.01px;
}

#menuu4132
{
	z-index: 285;
	width: 648px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4147
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4150
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u4150:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u4151-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4150:hover #u4151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u4154
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 130px;
}

#u4157
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u4157:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u4158-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4150.MuseMenuActive #u4151-4,#u4157:hover #u4158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u4161
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u4164
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u4164:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u4167-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4157.MuseMenuActive #u4158-4,#u4164:hover #u4167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u4133
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u4134
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u4135-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4164.MuseMenuActive #u4167-4,#u4134:hover #u4135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u4140
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u4143
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u4134:hover,#u4143:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u4150.MuseMenuActive,#u4157.MuseMenuActive,#u4164.MuseMenuActive,#u4143.MuseMenuActive
{
	background-color: #ECB93F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u4146-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4134.MuseMenuActive #u4135-4,#u4143:hover #u4146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u4143.MuseMenuActive #u4146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u4231
{
	z-index: 282;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 664px;
	background: #5165AD url("../images/facebook.png") no-repeat center center;
}

#u4213
{
	z-index: 284;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 769px;
	background: #3FB6EA url("../images/twitter.png") no-repeat center center;
}

#u4212
{
	z-index: 283;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 874px;
	background: #EDBA2F url("../images/rss.png") no-repeat center center;
}

#u4231:hover,#u4213:hover,#u4212:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 105px;
	height: 95px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu4214
{
	z-index: 2;
	width: 0.01px;
	height: 380px;
	padding-bottom: 20px;
	margin-top: 19px;
	position: relative;
}

#u4225
{
	position: absolute;
	width: 648px;
	background-color: transparent;
}

#u4225popup
{
	z-index: 3;
}

#u4227
{
	z-index: 4;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/manageinfo-u4227-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u4228
{
	z-index: 5;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/maxresdefault-u4228-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u4226
{
	z-index: 6;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/algorithm_of_life_by_azzazian-d5s358u-u4226-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u4217
{
	z-index: 7;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	left: 598px;
}

#u4219
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u4219:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u4218
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 20px;
}

#u4218:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u4220
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 40px;
}

#u4220:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u4219.PamphletThumbSelected,#u4218.PamphletThumbSelected,#u4220.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #EE4171;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#pu4211
{
	width: 0.01px;
	margin-left: 664px;
	margin-top: -401px;
}

#u4211
{
	z-index: 11;
	width: 315px;
	height: 184px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: transparent url("../images/pic-18.jpg") no-repeat center bottom;
	background-size: cover;
}

#u4209-3
{
	z-index: 12;
	width: 315px;
	min-height: 216px;
	border-color: #000000;
	background-color: #EDBA2F;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 1px;
}

#u4229
{
	z-index: 15;
	width: 130px;
	border-width: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 87px;
}

#u4229 .clip_frame
{
	-webkit-border-radius: 93px 93px 93px 93px;
}

#u4229_img
{
	padding: 24px 19px 39px 16px;
}

#u4232-6
{
	z-index: 17;
	width: 315px;
	min-height: 37px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
}

#u4232-2
{
	font-size: 30px;
	line-height: 36px;
}

#u4232-4
{
	font-size: 20px;
	line-height: 24px;
}

#csc611
{
	margin-top: 50px;
	position: relative;
}

#accordionu4168
{
	z-index: 23;
	width: 979px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	left: -1px;
	margin-top: 5px;
	position: relative;
}

#u4197
{
	z-index: 24;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4198-4
{
	z-index: 25;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4198-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4198-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4199
{
	z-index: 29;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 7px;
	position: relative;
}

#u4200-4
{
	z-index: 30;
	width: 938px;
	min-height: 44px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: left;
	line-height: 17px;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 18px;
}

#u4169
{
	z-index: 34;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4172-4
{
	z-index: 35;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4172-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4172-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4170
{
	z-index: 39;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 17px;
	position: relative;
}

#u4171-17
{
	z-index: 40;
	width: 935px;
	min-height: 91px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: left;
	line-height: 17px;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u4185
{
	z-index: 57;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4188-4
{
	z-index: 58;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4188-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4188-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4186
{
	z-index: 62;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 17px;
	position: relative;
}

#u4187-13
{
	z-index: 63;
	width: 942px;
	min-height: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 18px;
}

#u4177
{
	z-index: 76;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4178-4
{
	z-index: 77;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4178-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4178-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4179
{
	z-index: 81;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 8px;
	position: relative;
}

#u4180-74
{
	z-index: 82;
	width: 935px;
	min-height: 223px;
	background-color: transparent;
	color: #000000;
	line-height: 21px;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 21px;
}

#u4173
{
	z-index: 156;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4176-4
{
	z-index: 157;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4176-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4176-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4174
{
	z-index: 161;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 3px;
	position: relative;
}

#u4175-15
{
	z-index: 162;
	width: 937px;
	min-height: 122px;
	background-color: transparent;
	color: #000000;
	line-height: 21px;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 27px;
}

#u4171-15,#u4175-13
{
	counter-reset: list0;
}

#u4171-15 > li:before,#u4175-13 > li:before
{
	counter-increment: list0;
	content:  counter(list0, decimal) ')';
}

#u4171-15 .list1,#u4175-13 .list1
{
	counter-reset: list1;
}

#u4171-15 .list1 > li:before,#u4175-13 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u4171-15 .list2,#u4175-13 .list2
{
	counter-reset: list2;
}

#u4171-15 .list2 > li:before,#u4175-13 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u4171-15 .list3,#u4175-13 .list3
{
	counter-reset: list3;
}

#u4171-15 .list3 > li:before,#u4175-13 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u4171-15 .list4,#u4175-13 .list4
{
	counter-reset: list4;
}

#u4171-15 .list4 > li:before,#u4175-13 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u4171-15 .list5,#u4175-13 .list5
{
	counter-reset: list5;
}

#u4171-15 .list5 > li:before,#u4175-13 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u4171-15 .list6,#u4175-13 .list6
{
	counter-reset: list6;
}

#u4171-15 .list6 > li:before,#u4175-13 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u4171-15 .list7,#u4175-13 .list7
{
	counter-reset: list7;
}

#u4171-15 .list7 > li:before,#u4175-13 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u4171-15 .list8,#u4175-13 .list8
{
	counter-reset: list8;
}

#u4171-15 .list8 > li:before,#u4175-13 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

#u4193
{
	z-index: 177;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4194-4
{
	z-index: 178;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4194-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4194-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4195
{
	z-index: 182;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 15px;
	position: relative;
}

#u4196-14
{
	z-index: 183;
	width: 942px;
	min-height: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 17px;
}

#u4196-5,#u4196-10
{
	font-size: 18px;
	text-align: left;
	line-height: 27px;
	color: #F43A6D;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u4196-2,#u4196-3,#u4196-7,#u4196-8,#u4196-12
{
	font-size: 14px;
	text-align: left;
	line-height: 21px;
	color: #000000;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u4205
{
	z-index: 197;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4206-4
{
	z-index: 198;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4206-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4206-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4207
{
	z-index: 202;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 11px;
	position: relative;
}

#u4208-8
{
	z-index: 203;
	width: 945px;
	min-height: 69px;
	background-color: transparent;
	color: #000000;
	line-height: 21px;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 10px;
}

#u4189
{
	z-index: 211;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4190-4
{
	z-index: 212;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4190-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4190-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4191
{
	z-index: 216;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 11px;
	position: relative;
}

#u4192-4
{
	z-index: 217;
	width: 938px;
	min-height: 80px;
	background-color: transparent;
	color: #000000;
	line-height: 21px;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 10px;
}

#u4181
{
	z-index: 221;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4184-4
{
	z-index: 222;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4184-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4184-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4182
{
	z-index: 226;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 7px;
	position: relative;
}

#u4183-10
{
	z-index: 227;
	width: 942px;
	min-height: 74px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 14px;
}

#u4187-2,#u4187-7,#u4183-4
{
	font-size: 18px;
	line-height: 21px;
	color: #F43A6D;
}

#u4187-4,#u4187-5,#u4187-9,#u4187-11,#u4183-2,#u4183-6,#u4183-8
{
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

#u4201
{
	z-index: 237;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4204-4
{
	z-index: 238;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4204-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4204-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4198-4.AccordionPanelTabOpen,#u4172-4.AccordionPanelTabOpen,#u4188-4.AccordionPanelTabOpen,#u4178-4.AccordionPanelTabOpen,#u4176-4.AccordionPanelTabOpen,#u4194-4.AccordionPanelTabOpen,#u4206-4.AccordionPanelTabOpen,#u4190-4.AccordionPanelTabOpen,#u4184-4.AccordionPanelTabOpen,#u4204-4.AccordionPanelTabOpen
{
	background-color: #F43A6D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4198-4.AccordionPanelTabOpen p,#u4172-4.AccordionPanelTabOpen p,#u4188-4.AccordionPanelTabOpen p,#u4178-4.AccordionPanelTabOpen p,#u4176-4.AccordionPanelTabOpen p,#u4194-4.AccordionPanelTabOpen p,#u4206-4.AccordionPanelTabOpen p,#u4190-4.AccordionPanelTabOpen p,#u4184-4.AccordionPanelTabOpen p,#u4204-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4202
{
	z-index: 242;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 21px;
	position: relative;
}

#u4203-39
{
	z-index: 243;
	width: 942px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: left;
	line-height: 17px;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

