.version.csc688c /* version checker */
{
	color: #0000E4;
	background-color: #9483A9;
}

.html
{
	background-color: #2F3E72;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 1557px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 18px;
	padding-bottom: 257px;
	width: 0.01px;
}

#pmenuu3580
{
	width: 0.01px;
}

#menuu3580
{
	z-index: 560;
	width: 648px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3581
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3582
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u3582:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3584-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u3582:hover #u3584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3595
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 130px;
}

#u3596
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u3596:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3597-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u3582.MuseMenuActive #u3584-4,#u3596:hover #u3597-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3602
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u3605
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u3605:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3608-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u3596.MuseMenuActive #u3597-4,#u3605:hover #u3608-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3588
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u3589
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u3590-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u3605.MuseMenuActive #u3608-4,#u3589:hover #u3590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3609
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u3610
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u3589:hover,#u3610:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3582.MuseMenuActive,#u3596.MuseMenuActive,#u3605.MuseMenuActive,#u3610.MuseMenuActive
{
	background-color: #ECB93F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3612-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u3589.MuseMenuActive #u3590-4,#u3610:hover #u3612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3610.MuseMenuActive #u3612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3660
{
	z-index: 557;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 664px;
	background: #5165AD url("../images/facebook.png") no-repeat center center;
}

#u3617
{
	z-index: 559;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 769px;
	background: #3FB6EA url("../images/twitter.png") no-repeat center center;
}

#u3659
{
	z-index: 558;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 874px;
	background: #EDBA2F url("../images/rss.png") no-repeat center center;
}

#u3660:hover,#u3617:hover,#u3659:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 105px;
	height: 95px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu3661
{
	z-index: 2;
	width: 0.01px;
	height: 380px;
	padding-bottom: 20px;
	margin-top: 19px;
	position: relative;
}

#u3666
{
	position: absolute;
	width: 648px;
	background-color: transparent;
}

#u3666popup
{
	z-index: 3;
}

#u3669
{
	z-index: 4;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/air-traffic-over-europe.jpg") no-repeat center center;
	background-size: cover;
}

#u3667
{
	z-index: 5;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/data_visualization_navegacoes.jpg") no-repeat center center;
	background-size: cover;
}

#u3668
{
	z-index: 6;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/carbon_emissions_03.jpg") no-repeat center center;
	background-size: cover;
}

#u3670
{
	z-index: 7;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	left: 598px;
}

#u3673
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u3673:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u3672
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 20px;
}

#u3672:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u3671
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 40px;
}

#u3671:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u3673.PamphletThumbSelected,#u3672.PamphletThumbSelected,#u3671.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #EE4171;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#pu3618
{
	width: 0.01px;
	margin-left: 664px;
	margin-top: -401px;
}

#u3618
{
	z-index: 11;
	width: 315px;
	height: 184px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: transparent url("../images/pic-18.jpg") no-repeat center bottom;
	background-size: cover;
}

#u3616-3
{
	z-index: 12;
	width: 315px;
	min-height: 216px;
	border-color: #000000;
	background-color: #EDBA2F;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 1px;
}

#u3657
{
	z-index: 15;
	width: 130px;
	border-width: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 87px;
}

#u3657 .clip_frame
{
	-webkit-border-radius: 93px 93px 93px 93px;
}

#u3657_img
{
	padding: 24px 19px 39px 16px;
}

#u3619-6
{
	z-index: 17;
	width: 315px;
	min-height: 37px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
}

#u3619-2
{
	font-size: 30px;
	line-height: 36px;
}

#u3619-4
{
	font-size: 20px;
	line-height: 24px;
}

#csc688c
{
	margin-top: 51px;
	position: relative;
}

#accordionu3620
{
	z-index: 23;
	width: 979px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	left: -1px;
	margin-top: 4px;
	position: relative;
}

#u3641
{
	z-index: 24;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3642-4
{
	z-index: 25;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3642-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3642-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3643
{
	z-index: 29;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 12px;
	position: relative;
}

#u3644-4
{
	z-index: 30;
	width: 938px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: left;
	line-height: 17px;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 18px;
}

#u3645
{
	z-index: 34;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3648-4
{
	z-index: 35;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3648-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3648-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3646
{
	z-index: 39;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 17px;
	position: relative;
}

#u3647-13
{
	z-index: 40;
	width: 935px;
	min-height: 91px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: left;
	line-height: 17px;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u3896
{
	z-index: 53;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3899-4
{
	z-index: 54;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3899-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3899-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3897
{
	z-index: 58;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 17px;
	position: relative;
}

#u3900-13
{
	z-index: 59;
	width: 942px;
	min-height: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 18px;
}

#u3621
{
	z-index: 72;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3622-4
{
	z-index: 73;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3622-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3622-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3623
{
	z-index: 77;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 8px;
	position: relative;
}

#u3624-34
{
	z-index: 78;
	width: 935px;
	min-height: 223px;
	background-color: transparent;
	color: #000000;
	line-height: 21px;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 21px;
}

#u3633
{
	z-index: 112;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3634-4
{
	z-index: 113;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3634-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3634-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3635
{
	z-index: 117;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 4px;
	position: relative;
}

#u3636-15
{
	z-index: 118;
	width: 937px;
	min-height: 122px;
	background-color: transparent;
	color: #000000;
	line-height: 21px;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 27px;
}

#u4586
{
	z-index: 133;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4589-4
{
	z-index: 134;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4589-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4589-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4587
{
	z-index: 138;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 17px;
	position: relative;
}

#u4591-51
{
	z-index: 139;
	width: 942px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: left;
	line-height: 17px;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 18px;
}

#u3647-11,#u3636-13,#u4591-49
{
	counter-reset: list0;
}

#u3647-11 > li:before,#u3636-13 > li:before,#u4591-49 > li:before
{
	counter-increment: list0;
	content:  counter(list0, decimal) ')';
}

#u3647-11 .list1,#u3636-13 .list1,#u4591-49 .list1
{
	counter-reset: list1;
}

#u3647-11 .list1 > li:before,#u3636-13 .list1 > li:before,#u4591-49 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u3647-11 .list2,#u3636-13 .list2,#u4591-49 .list2
{
	counter-reset: list2;
}

#u3647-11 .list2 > li:before,#u3636-13 .list2 > li:before,#u4591-49 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u3647-11 .list3,#u3636-13 .list3,#u4591-49 .list3
{
	counter-reset: list3;
}

#u3647-11 .list3 > li:before,#u3636-13 .list3 > li:before,#u4591-49 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u3647-11 .list4,#u3636-13 .list4,#u4591-49 .list4
{
	counter-reset: list4;
}

#u3647-11 .list4 > li:before,#u3636-13 .list4 > li:before,#u4591-49 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u3647-11 .list5,#u3636-13 .list5,#u4591-49 .list5
{
	counter-reset: list5;
}

#u3647-11 .list5 > li:before,#u3636-13 .list5 > li:before,#u4591-49 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u3647-11 .list6,#u3636-13 .list6,#u4591-49 .list6
{
	counter-reset: list6;
}

#u3647-11 .list6 > li:before,#u3636-13 .list6 > li:before,#u4591-49 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u3647-11 .list7,#u3636-13 .list7,#u4591-49 .list7
{
	counter-reset: list7;
}

#u3647-11 .list7 > li:before,#u3636-13 .list7 > li:before,#u4591-49 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u3647-11 .list8,#u3636-13 .list8,#u4591-49 .list8
{
	counter-reset: list8;
}

#u3647-11 .list8 > li:before,#u3636-13 .list8 > li:before,#u4591-49 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

#u3649
{
	z-index: 190;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3650-4
{
	z-index: 191;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3650-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3650-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3651
{
	z-index: 195;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 15px;
	position: relative;
}

#u3652-17
{
	z-index: 196;
	width: 942px;
	min-height: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 17px;
}

#u3652-10
{
	font-size: 20px;
	text-align: left;
	color: #000000;
	font-family: abel, sans-serif;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3652-8
{
	font-size: 14px;
	line-height: 21px;
}

#u3652-5,#u3652-13
{
	font-size: 18px;
	text-align: left;
	line-height: 27px;
	color: #F43A6D;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u3637
{
	z-index: 213;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3638-4
{
	z-index: 214;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3638-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3638-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3639
{
	z-index: 218;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 11px;
	position: relative;
}

#u3640-8
{
	z-index: 219;
	width: 945px;
	min-height: 69px;
	background-color: transparent;
	color: #000000;
	line-height: 21px;
	text-align: left;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 10px;
}

#u3653
{
	z-index: 227;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3654-4
{
	z-index: 228;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3654-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3654-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3655
{
	z-index: 232;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 7px;
	position: relative;
}

#u3656-10
{
	z-index: 233;
	width: 942px;
	min-height: 74px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 14px;
}

#u3900-2,#u3900-7,#u3656-4
{
	font-size: 18px;
	line-height: 21px;
	color: #F43A6D;
}

#u3900-4,#u3900-5,#u3900-9,#u3900-11,#u3656-2,#u3656-6,#u3656-8
{
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

#u4607
{
	z-index: 243;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4610-4
{
	z-index: 244;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4610-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4610-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4608
{
	z-index: 248;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 17px;
	position: relative;
}

#u4612-61
{
	z-index: 249;
	width: 942px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: left;
	line-height: 17px;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 18px;
}

#u4613
{
	z-index: 310;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u4614-4
{
	z-index: 311;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4614-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4614-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u4615
{
	z-index: 315;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 17px;
	position: relative;
}

#u4618-32
{
	z-index: 316;
	width: 942px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: left;
	line-height: 17px;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 18px;
}

#u3629
{
	z-index: 348;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3632-4
{
	z-index: 349;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3632-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3632-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3630
{
	z-index: 353;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 21px;
	position: relative;
}

#u3631-152
{
	z-index: 354;
	width: 938px;
	min-height: 223px;
	background-color: transparent;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 10px;
}

#u3631-5
{
	font-size: 18px;
	line-height: 27px;
	color: #F43A6D;
}

#u3631-150 > li:before
{
	content: '•';
}

#u3631-49 > #u3631-48:before
{
	visibility: hidden;
	counter-increment: list 0;
}

#u3631-2,#u3631-3,#u3631-55,#u3631-59,#u3631-63,#u3631-67,#u3631-71,#u3631-75,#u3631-79,#u3631-84,#u3631-91,#u3631-95,#u3631-111,#u3631-149
{
	font-size: 14px;
	line-height: 21px;
	color: #000000;
}

#u3652-2,#u3652-3,#u3652-7,#u3652-11,#u3652-15,#u3631-11,#u3631-13,#u3631-15,#u3631-17,#u3631-19,#u3631-21,#u3631-23,#u3631-25,#u3631-27,#u3631-29,#u3631-32,#u3631-34,#u3631-36,#u3631-38,#u3631-40,#u3631-42,#u3631-44,#u3631-46,#u3631-51,#u3631-53,#u3631-103,#u3631-107,#u3631-109,#u3631-122,#u3631-120,#u3631-125,#u3631-128,#u3631-136,#u3631-147
{
	font-size: 14px;
	text-align: left;
	line-height: 21px;
	color: #000000;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u3625
{
	z-index: 506;
	width: 979px;
	background-color: transparent;
	position: relative;
}

#u3628-4
{
	z-index: 507;
	width: 967px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4B608D;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3628-4:hover
{
	background-color: #010101;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3628-4:active
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3642-4.AccordionPanelTabOpen,#u3648-4.AccordionPanelTabOpen,#u3899-4.AccordionPanelTabOpen,#u3622-4.AccordionPanelTabOpen,#u3634-4.AccordionPanelTabOpen,#u4589-4.AccordionPanelTabOpen,#u3650-4.AccordionPanelTabOpen,#u3638-4.AccordionPanelTabOpen,#u3654-4.AccordionPanelTabOpen,#u4610-4.AccordionPanelTabOpen,#u4614-4.AccordionPanelTabOpen,#u3632-4.AccordionPanelTabOpen,#u3628-4.AccordionPanelTabOpen
{
	background-color: #F43A6D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 967px;
	margin: 0px;
}

#u3642-4.AccordionPanelTabOpen p,#u3648-4.AccordionPanelTabOpen p,#u3899-4.AccordionPanelTabOpen p,#u3622-4.AccordionPanelTabOpen p,#u3634-4.AccordionPanelTabOpen p,#u4589-4.AccordionPanelTabOpen p,#u3650-4.AccordionPanelTabOpen p,#u3638-4.AccordionPanelTabOpen p,#u3654-4.AccordionPanelTabOpen p,#u4610-4.AccordionPanelTabOpen p,#u4614-4.AccordionPanelTabOpen p,#u3632-4.AccordionPanelTabOpen p,#u3628-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3626
{
	z-index: 511;
	width: 977px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EDBA2F;
	padding-bottom: 21px;
	position: relative;
}

#u3627-45
{
	z-index: 512;
	width: 942px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: left;
	line-height: 17px;
	font-size: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

