.version.haidar /* version checker */
{
	color: #00001B;
	background-color: #B4F131;
}

.html
{
	background-color: #2F3E72;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 1557px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 18px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pmenuu2054
{
	width: 0.01px;
}

#menuu2054
{
	z-index: 12;
	width: 648px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2055
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2056
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u2056:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2058-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u2056:hover #u2058-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2062
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 130px;
}

#u2063
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u2063:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2066-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u2056.MuseMenuActive #u2058-4,#u2063:hover #u2066-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2083
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u2084
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u2084:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2087-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u2063.MuseMenuActive #u2066-4,#u2084:hover #u2087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2069
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u2070
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u2070:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2071-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u2084.MuseMenuActive #u2087-4,#u2070:hover #u2071-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2076
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u2077
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u2077:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2056.MuseMenuActive,#u2063.MuseMenuActive,#u2084.MuseMenuActive,#u2070.MuseMenuActive,#u2077.MuseMenuActive
{
	background-color: #ECB93F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2080-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u2070.MuseMenuActive #u2071-4,#u2077:hover #u2080-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2077.MuseMenuActive #u2080-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2095
{
	z-index: 11;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 665px;
	background: #E6E6E6 url("../images/sw.png") no-repeat center center;
}

#u2100
{
	z-index: 104;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 770px;
	background: #F9F7F5 url("../images/g.png") no-repeat center center;
}

#u2090
{
	z-index: 103;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 875px;
	background: #22CFAF url("../images/rg.png") no-repeat center center;
}

#u2095:hover,#u2100:hover,#u2090:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 105px;
	height: 95px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu2152
{
	z-index: 2;
	width: 0.01px;
	height: 380px;
	padding-bottom: 20px;
	margin-top: 19px;
	position: relative;
}

#u2157
{
	position: absolute;
	width: 648px;
	background-color: transparent;
}

#u2157popup
{
	z-index: 3;
}

#u2158
{
	z-index: 4;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/pic030-300dpi.jpg") no-repeat center center;
	background-size: cover;
}

#u2159
{
	z-index: 5;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/dsc_0367.jpg") no-repeat center center;
	background-size: cover;
}

#u2160
{
	z-index: 6;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/byblos.jpg") no-repeat center center;
	background-size: cover;
}

#u2161
{
	z-index: 7;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	left: 598px;
}

#u2164
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u2164:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u2163
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 20px;
}

#u2163:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u2162
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 40px;
}

#u2162:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u2164.PamphletThumbSelected,#u2163.PamphletThumbSelected,#u2162.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #EE4171;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#pu2104
{
	width: 0.01px;
	margin-left: 665px;
	margin-top: -401px;
}

#u2104
{
	z-index: 83;
	width: 315px;
	height: 184px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/pic-18.jpg") no-repeat center bottom;
	background-size: cover;
}

#u2102-3
{
	z-index: 84;
	width: 315px;
	min-height: 216px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
}

#u2094-4
{
	z-index: 87;
	width: 315px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 277px;
}

#u2103-8
{
	z-index: 91;
	width: 315px;
	min-height: 18px;
	background-color: transparent;
	line-height: 13px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
}

#u2168-4
{
	z-index: 99;
	width: 131px;
	min-height: 16px;
	line-height: 14px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 100px;
	background: transparent url("../images/tweeter.png") no-repeat left top;
}

#u2168-2
{
	font-family: abel, sans-serif;
}

#u2150
{
	z-index: 105;
	width: 130px;
	border-width: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 86px;
}

#u2150 .clip_frame
{
	-webkit-border-radius: 93px 93px 93px 93px;
}

#pbio
{
	width: 0.01px;
	margin-left: -33px;
	margin-top: 46px;
}

#u2303
{
	z-index: 217;
	width: 252px;
	border-color: #000000;
	background-color: #F43A6D;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 33px;
}

#u2304-4
{
	z-index: 218;
	width: 222px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 20px;
}

#u2306
{
	z-index: 222;
	width: 979px;
	border-color: #000000;
	background-color: #90C2D4;
	padding-bottom: 9px;
	margin-left: 1px;
	margin-top: 10px;
	position: relative;
}

#u2307-10
{
	z-index: 223;
	width: 934px;
	min-height: 223px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 28px;
	text-align: left;
	font-size: 24px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 18px;
}

#particles
{
	width: 0.01px;
	margin-left: -74px;
	margin-top: 45px;
}

#articles
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2293
{
	z-index: 205;
	width: 252px;
	border-color: #000000;
	background-color: #F43A6D;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 74px;
}

#u2295-4
{
	z-index: 206;
	width: 222px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 20px;
}

#u2106
{
	z-index: 43;
	width: 979px;
	border-color: #000000;
	background-color: #36B5EC;
	padding-bottom: 6px;
	margin-left: 1px;
	margin-top: 13px;
	position: relative;
}

#u2122-39
{
	z-index: 44;
	width: 938px;
	min-height: 223px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	line-height: 30px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 18px;
}

#pconferences
{
	width: 0.01px;
	margin-left: -90px;
	margin-top: 29px;
}

#bio,#conferences
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u2299
{
	z-index: 210;
	width: 252px;
	border-color: #000000;
	background-color: #F43A6D;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#u2300-4
{
	z-index: 211;
	width: 193px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 20px;
}

#u2288
{
	z-index: 107;
	width: 979px;
	border-color: #000000;
	background-color: #EDBA2F;
	padding-bottom: 9px;
	margin-left: 1px;
	margin-top: 11px;
	position: relative;
}

#u2292-97
{
	z-index: 108;
	width: 938px;
	min-height: 223px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	line-height: 30px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 17px;
}

#u2122-37,#u2292-95
{
	counter-reset: list0;
}

#u2122-37 > li:before,#u2292-95 > li:before
{
	counter-increment: list0;
	content:  counter(list0, decimal) '.';
}

#u2122-37 .list1,#u2292-95 .list1
{
	counter-reset: list1;
}

#u2122-37 .list1 > li:before,#u2292-95 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u2122-37 .list2,#u2292-95 .list2
{
	counter-reset: list2;
}

#u2122-37 .list2 > li:before,#u2292-95 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u2122-37 .list3,#u2292-95 .list3
{
	counter-reset: list3;
}

#u2122-37 .list3 > li:before,#u2292-95 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u2122-37 .list4,#u2292-95 .list4
{
	counter-reset: list4;
}

#u2122-37 .list4 > li:before,#u2292-95 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u2122-37 .list5,#u2292-95 .list5
{
	counter-reset: list5;
}

#u2122-37 .list5 > li:before,#u2292-95 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u2122-37 .list6,#u2292-95 .list6
{
	counter-reset: list6;
}

#u2122-37 .list6 > li:before,#u2292-95 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u2122-37 .list7,#u2292-95 .list7
{
	counter-reset: list7;
}

#u2122-37 .list7 > li:before,#u2292-95 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u2122-37 .list8,#u2292-95 .list8
{
	counter-reset: list8;
}

#u2122-37 .list8 > li:before,#u2292-95 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

