.version.index /* version checker */
{
	color: #00000B;
	background-color: #B1482D;
}

.html
{
	background-color: #2F3E72;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 1948.9547334120198px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 18px;
	padding-bottom: 62px;
	width: 0.01px;
}

#menuu421
{
	z-index: 12;
	width: 648px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u429
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u432
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u432:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u433-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u432:hover #u433-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u436
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 130px;
}

#u439
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u439:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u441-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u432.MuseMenuActive #u433-4,#u439:hover #u441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u443
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u446
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u446:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u449-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u439.MuseMenuActive #u441-4,#u446:hover #u449-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u450
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u453
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u456-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u446.MuseMenuActive #u449-4,#u453:hover #u456-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u457
{
	width: 128px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u458
{
	width: 128px;
	border-color: #7F7F7F;
	background-color: #BE2C46;
	padding-bottom: 75px;
	position: relative;
}

#u453:hover,#u458:hover
{
	background-color: #EDBA2F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u432.MuseMenuActive,#u439.MuseMenuActive,#u446.MuseMenuActive,#u458.MuseMenuActive
{
	background-color: #ECB93F;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u460-4
{
	width: 128px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u453.MuseMenuActive #u456-4,#u458:hover #u460-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u458.MuseMenuActive #u460-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u506
{
	z-index: 11;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 665px;
	background: #5165AD url("../images/facebook.png") no-repeat center center;
}

#u1032
{
	z-index: 51;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 770px;
	background: #3FB6EA url("../images/twitter.png") no-repeat center center;
}

#u1031
{
	z-index: 50;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 875px;
	background: #EDBA2F url("../images/rss.png") no-repeat center center;
}

#u506:hover,#u1032:hover,#u1031:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 105px;
	height: 95px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu980
{
	z-index: 2;
	width: 0.01px;
	height: 380px;
	padding-bottom: 20px;
	margin-top: 19px;
	position: relative;
}

#u987popup
{
	z-index: 3;
}

#u989
{
	z-index: 4;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/pic030-300dpi.jpg") no-repeat center center;
	background-size: cover;
}

#u988
{
	z-index: 5;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/dsc_0367.jpg") no-repeat center center;
	background-size: cover;
}

#u1520
{
	z-index: 6;
	width: 648px;
	height: 400px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/byblos.jpg") no-repeat center center;
	background-size: cover;
}

#u990
{
	z-index: 7;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	left: 598px;
}

#u991
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u991:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u992
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 20px;
}

#u992:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u1521
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 40px;
}

#u1521:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#pu2240
{
	width: 0.01px;
	margin-left: 665px;
	margin-top: -401px;
}

#u2240
{
	z-index: 146;
	width: 315px;
	height: 184px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/pic-18.jpg") no-repeat center bottom;
	background-size: cover;
}

#u2241-3
{
	z-index: 147;
	width: 315px;
	min-height: 216px;
	border-color: #000000;
	background-color: #EDBA2F;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
}

#u2245
{
	z-index: 150;
	width: 130px;
	border-width: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 86px;
}

#u2245_clip
{
	overflow: hidden;
	width: 130px;
	height: 130px;
}

#u2245_img
{
	margin: 7px -3px 26px -5px;
}

#u2311-6
{
	z-index: 152;
	width: 315px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 293px;
}

#teaching
{
	position: relative;
}

#pmenuu421,#ppu1732
{
	width: 0.01px;
}

#pu1732
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1732
{
	z-index: 57;
	width: 315px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/129-960x623.jpg") no-repeat center center;
	background-size: cover;
}

#u1733-4
{
	z-index: 58;
	width: 260px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 9px;
}

#u1750
{
	z-index: 62;
	width: 315px;
	border-color: #000000;
	margin-top: 8px;
	position: relative;
	background: #FFFFFF url("../images/computer-engineering01_web.jpg") no-repeat center center;
	background-size: cover;
}

#u1752-4
{
	z-index: 63;
	width: 302px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 9px;
}

#u523
{
	z-index: 43;
	width: 315px;
	border-color: #000000;
	background-color: #36B5EC;
	position: relative;
	margin-right: -10000px;
	left: 333px;
}

#u713-6
{
	z-index: 44;
	width: 266px;
	min-height: 223px;
	background-color: transparent;
	text-align: center;
	line-height: 27px;
	font-size: 18px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 24px;
}

#u713-2
{
	color: #FFFFFF;
}

#u713
{
	font-size: 18px;
}

#u713-4
{
	color: #000000;
}

#u1688
{
	z-index: 52;
	width: 315px;
	border-color: #000000;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	left: 665px;
	background: #FFFFFF url("../images/tianhe%202%20corridor.jpg") no-repeat center center;
	background-size: cover;
}

#u1693-4
{
	z-index: 53;
	width: 288px;
	min-height: 48px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 13px;
}

#pu2851
{
	width: 0.01px;
	margin-top: 24px;
}

#u2851
{
	z-index: 167;
	width: 315px;
	border-color: #000000;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/672x372xwhatis-672x372jpgpagespeedicokremyjz2j.jpg") no-repeat center center;
	background-size: cover;
}

#u2852-4
{
	z-index: 168;
	width: 302px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 9px;
}

#pamphletu2830
{
	z-index: 158;
	width: 0.01px;
	height: 275px;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
	left: 333px;
}

#u2833popup
{
	z-index: 159;
}

#u2835
{
	z-index: 160;
	width: 648px;
	height: 315px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/dsc_0228.jpg") no-repeat center center;
	background-size: cover;
}

#u2836
{
	z-index: 161;
	width: 648px;
	height: 315px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/dsc_0250.jpg") no-repeat center center;
	background-size: cover;
}

#u2834
{
	z-index: 162;
	width: 648px;
	height: 315px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/403150_290183501033602_149867701_n.jpg") no-repeat center center;
	background-size: cover;
}

#u2839
{
	z-index: 163;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 265px;
	left: 579px;
}

#u2842
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u2842:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u2841
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 20px;
}

#u2841:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u2840
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 40px;
}

#u2840:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u2853
{
	z-index: 172;
	width: 315px;
	border-color: #000000;
	top: -209px;
	margin-bottom: -102px;
	position: relative;
	background: #FFFFFF url("../images/obama-science.jpg") no-repeat center center;
	background-size: cover;
}

#u2854-4
{
	z-index: 173;
	width: 302px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 9px;
}

#u2855
{
	z-index: 177;
	width: 315px;
	border-color: #000000;
	padding-bottom: 2px;
	top: -102px;
	margin-bottom: -102px;
	position: relative;
	background: #FFFFFF url("../images/us__en_us__ibm100__sci_research_lab__fractal_geometry__620x350.jpg") no-repeat center center;
	background-size: cover;
}

#u2856-4
{
	z-index: 178;
	width: 302px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 9px;
}

#pamphletu2857
{
	z-index: 182;
	width: 0.01px;
	height: 275px;
	padding-bottom: 40px;
	margin-top: 18px;
	position: relative;
}

#u987,#u2833,#u2860
{
	position: absolute;
	width: 648px;
	background-color: transparent;
}

#u2860popup
{
	z-index: 183;
}

#u2862
{
	z-index: 184;
	width: 648px;
	height: 315px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/lung-on-chip-u2862-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2863
{
	z-index: 185;
	width: 648px;
	height: 315px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/cropped-programmingoop_wallpaper_black_by_hexeno.jpg") no-repeat center center;
	background-size: cover;
}

#u2861
{
	z-index: 186;
	width: 648px;
	height: 315px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/shutterstock_148957235.jpg") no-repeat center center;
	background-size: cover;
}

#u2866
{
	z-index: 187;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 265px;
	left: 579px;
}

#u2869
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u2869:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u2868
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 20px;
}

#u2868:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u2867
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 40px;
}

#u2867:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u991.PamphletThumbSelected,#u992.PamphletThumbSelected,#u1521.PamphletThumbSelected,#u2842.PamphletThumbSelected,#u2841.PamphletThumbSelected,#u2840.PamphletThumbSelected,#u2869.PamphletThumbSelected,#u2868.PamphletThumbSelected,#u2867.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #EE4171;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u2872
{
	z-index: 191;
	width: 315px;
	border-color: #000000;
	padding-bottom: 8px;
	margin-left: 665px;
	top: -316px;
	margin-bottom: -102px;
	position: relative;
	background: #FFFFFF url("../images/672x372xwhatis-672x372jpgpagespeedicokremyjz2j.jpg") no-repeat center center;
	background-size: cover;
}

#u3306-4
{
	z-index: 202;
	width: 302px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 9px;
}

#u2874
{
	z-index: 196;
	width: 315px;
	border-color: #000000;
	margin-left: 665px;
	top: -209px;
	margin-bottom: -102px;
	position: relative;
	background: #FFFFFF url("../images/120327043014-computer-chip-super-flops-horizontal-large-gallery.jpg") no-repeat center center;
	background-size: cover;
}

#u2875-4
{
	z-index: 197;
	width: 302px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 9px;
}

#pu2873-4
{
	width: 0.01px;
	margin-left: 665px;
	margin-top: -103px;
}

#u2873-4
{
	z-index: 192;
	width: 302px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 9px;
}

#u2876
{
	z-index: 201;
	width: 315px;
	border-color: #000000;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/36.jpg") no-repeat center center;
	background-size: cover;
}

#u3307-4
{
	z-index: 206;
	width: 279px;
	min-height: 33px;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 9px;
}

#bio
{
	margin-top: 87px;
	position: relative;
}

#pu2194
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: -5px;
}

#u2194
{
	z-index: 68;
	width: 315px;
	height: 184px;
	border-color: #000000;
	background-color: #90C2D4;
	position: relative;
	margin-right: -10000px;
}

#u2195-3
{
	z-index: 69;
	width: 315px;
	min-height: 216px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 184px;
	left: 1px;
}

#u2196-4
{
	z-index: 72;
	width: 315px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 277px;
	left: 1px;
}

#u2197-8
{
	z-index: 76;
	width: 315px;
	min-height: 18px;
	background-color: transparent;
	line-height: 13px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
	left: 1px;
}

#u2198-4
{
	z-index: 84;
	width: 131px;
	min-height: 16px;
	line-height: 14px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 100px;
	background: transparent url("../images/tweeter.png") no-repeat left top;
}

#u2198-2
{
	font-family: abel, sans-serif;
}

#u2199
{
	z-index: 88;
	width: 130px;
	border-width: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 112px;
	left: 86px;
}

#u2245 .clip_frame,#u2199 .clip_frame
{
	-webkit-border-radius: 93px 93px 93px 93px;
}

#u2201
{
	z-index: 90;
	width: 647px;
	border-color: #000000;
	background-color: #90C2D4;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u2202-10
{
	z-index: 91;
	width: 608px;
	min-height: 223px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 18px;
}

#news
{
	left: -1px;
	margin-top: 11px;
	position: relative;
}

#pu2204
{
	width: 0.01px;
	margin-top: 10px;
}

#u2204
{
	z-index: 101;
	width: 648px;
	border-color: #000000;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/codeeval2015001.jpg") no-repeat center center;
	background-size: cover;
}

#u2205-4
{
	z-index: 102;
	width: 621px;
	min-height: 36px;
	background-color: transparent;
	color: #00172C;
	font-size: 24px;
	line-height: 29px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 267px;
	left: 7px;
}

#tab-panelu2206
{
	z-index: 106;
	width: 315px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 665px;
}

#u2222
{
	z-index: 107;
	width: 315px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2223
{
	z-index: 108;
	width: 158px;
	min-height: 25px;
	border-style: none;
	border-color: #999999;
	background-color: #F13E6F;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
}

#u2226-4
{
	z-index: 109;
	width: 158px;
	min-height: 25px;
	border-color: #999999;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u2227
{
	z-index: 113;
	width: 158px;
	min-height: 25px;
	border-style: none;
	border-color: #999999;
	background-color: #F13E6F;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
	left: 157px;
}

#u2223.TabbedPanelsTabSelected,#u2227.TabbedPanelsTabSelected
{
	background-color: #FFFFFF;
	width: 158px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u2229-3
{
	z-index: 114;
	width: 158px;
	min-height: 25px;
	border-color: #999999;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u2223.TabbedPanelsTabSelected #u2226-4,#u2227.TabbedPanelsTabSelected #u2229-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u2223.TabbedPanelsTabSelected #u2226-4 p,#u2227.TabbedPanelsTabSelected #u2229-3 p
{
	color: #000000;
	visibility: inherit;
}

#u2207
{
	z-index: 117;
	width: 315px;
	background-color: transparent;
	position: relative;
}

#u2215
{
	z-index: 118;
	width: 315px;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 24px;
	margin-right: -10000px;
	position: relative;
}

#pu2220
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 24px;
}

#u2220
{
	z-index: 119;
	width: 125px;
	background-color: transparent;
	position: relative;
}

#u2220_img
{
	margin-left: -12px;
	margin-right: -12px;
}

#u2216
{
	z-index: 121;
	width: 125px;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
}

#pu2218-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 163px;
}

#u2218-4
{
	z-index: 123;
	width: 134px;
	min-height: 93px;
	background-color: transparent;
	font-size: 17px;
	line-height: 22px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2219-4
{
	z-index: 127;
	width: 134px;
	min-height: 93px;
	background-color: transparent;
	font-size: 17px;
	line-height: 22px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u2208
{
	z-index: 131;
	width: 315px;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 24px;
	margin-right: -10000px;
	position: relative;
}

#pu2213-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 19px;
}

#u2213-4
{
	z-index: 136;
	width: 134px;
	min-height: 93px;
	background-color: transparent;
	font-size: 17px;
	line-height: 22px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2214-4
{
	z-index: 140;
	width: 134px;
	min-height: 93px;
	background-color: transparent;
	font-size: 17px;
	line-height: 22px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#pu2209
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 170px;
}

#u2209
{
	z-index: 132;
	width: 125px;
	background-color: transparent;
	position: relative;
}

#u2220_clip,#u2209_clip
{
	overflow: hidden;
	width: 125px;
	height: 100px;
}

#u2209_img
{
	margin-left: -12px;
	margin-right: -11px;
	margin-bottom: 1px;
}

#u2211
{
	z-index: 134;
	width: 125px;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
}

#u2211_img
{
	padding-bottom: 5px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.TabbedPanelsTab /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

